* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.section {
  background: rgb(6, 1, 113);
  background: linear-gradient(
    270deg,
    rgba(6, 1, 113, 1) 32%,
    rgba(13, 1, 74, 1) 56%,
    rgba(21, 0, 30, 1) 100%
  );
  /* background: #000000; */
  height: 60vh;
  position: relative;
  text-align: center;
}

.section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.22;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: 100%;
}

.content {
  text-transform: uppercase;
}

.section {
  padding: 1rem 1.5rem;
}

.foot {
  /* color: #0072f5; */
  font-size: 1rem;
}

.foot a:hover {
  color: #ededed;
}

.header {
  line-height: 2.8rem;
  color: #0072f5;
  /* font-size: 1rem; */
}

.header span {
  color: #1c2128;
  letter-spacing: -0.1rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
}

.paragraph {
  padding: 3.125rem 1.75rem;
  color: #fff;
}

.form-container {
  margin: 0 auto;
  padding: 2rem 1.65rem;
}

.each-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.68;
}

.each-input input {
  padding: 0.8rem 1rem;
  background: #ededed;
  border: none;
}

.btn-container {
  display: flex;
}

.btn {
  margin-top: 1rem;
  flex: 1;
  padding: 0.8rem 5rem;
  box-shadow: #0072f5 0px 13px 27px -5px, #0072f5 0px 8px 16px -8px;
  /* background: #ededed; */
  border: none;
  text-align: center;
  background: #0072f5;
  /* background: rgb(6, 1, 113);
  background: linear-gradient(
    270deg,
    rgba(6, 1, 113, 1) 32%,
    rgba(13, 1, 74, 1) 56%,
    rgba(21, 0, 30, 1) 100%
  ); */
  /* background: #5200ff; */
  border: none;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .container {
    background: #666666;
    margin-top: 0;
    padding-top: 0;
    height: 40vh;
  }
}

@media screen and (min-width: 740px) {
  .section,
  .form-section {
    padding: 2rem 5vw;
  }
  .header {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .paragraph {
    padding: 6.125rem 1.75rem;
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 740px) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .each-input {
    padding: auto;
    margin: 0 auto;
  }

  .btn-container {
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1000px) {
  .section {
    width: 50%;
    height: 100vh;
  }

  .form-container {
    width: 50%;
    position: absolute;
    top: 20vh;
    left: 48vw;
  }
  .header {
    font-size: 3rem;
    line-height: 3.2rem;
    color: #fff;
  }

  .paragraph {
    padding: 4.125rem 1.75rem;
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 1200px) {
  .form-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    left: 60vw;
    line-height: 4rem;
  }
}

.btn:hover {
  background: #540debbc;
  transition: all 0.8s;
}
